.checkout_payment_popup {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    .payment-wrapper {
        width: 450px;
        border-radius: 7px;
        background: #383838;
        padding: 20px;
        .head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            h4 {
                color: white;
            }
            .cross {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background: #676767;
                cursor: pointer;
                padding: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                .box {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    .line1 {
                        width: 100%;
                        height: 2px;
                        background: white;
                        position: absolute;
                        transform: rotate(45deg);
                    }
                    .line2 {
                        width: 100%;
                        height: 2px;
                        background: white;
                        position: absolute;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
        .payment-form {
            .card-name-inpt {
                display: flex;
                flex-direction: column;
                padding: 6px 10px;
                border: 1px solid #646469;
                border-radius: 5px;
                background: #424246;
                margin-bottom: 10px;
                label {
                    color: #737382;
                    margin-bottom: 5px;
                    font-size: 12px;
                }
                input {
                    background: none;
                    border: none;
                    color: white;
                    font-weight: 500;
                    font-size: 15px;
                }
            }
            .expiry-cvv-inpts {
                display: flex;
                justify-content: space-between;
                margin-bottom: 35px;
                .expiry-inpt {
                    display: flex;
                    flex-direction: column;
                    padding: 6px 10px;
                    border: 1px solid #646469;
                    border-radius: 5px;
                    background: #424246;
                    margin-right: 10px;
                    label {
                        color: #737382;
                        margin-bottom: 5px;
                        font-size: 12px;
                    }
                    input {
                        background: none;
                        border: none;
                        color: white;
                        font-weight: 500;
                        font-size: 15px;
                    }
                }
                .cvv-inpt {
                    display: flex;
                    flex-direction: column;
                    padding: 6px 10px;
                    border: 1px solid #646469;
                    border-radius: 5px;
                    background: #424246;
                    label {
                        color: #737382;
                        margin-bottom: 5px;
                        font-size: 12px;
                    }
                    input {
                        background: none;
                        border: none;
                        color: white;
                        font-weight: 500;
                        font-size: 15px;
                    }
                }
            }
            .billing-wrapper {
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                .bill-span {
                    color: white;
                    font-weight: 600;
                    margin-right: 25px;
                }
                .checkbox-inpt {
                    input {}
                    .img-wrapper {
                        img {}
                    }
                }
                .inpt-side {
                    font-size: 12px;
                    color: #6b6b71;
                }
            }
            .inputs-wrapper {
                .address-zip-inpts {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    .address-inpt {
                        display: flex;
                        flex-direction: column;
                        padding: 6px 10px;
                        border: 1px solid #646469;
                        border-radius: 5px;
                        background: #424246;
                        margin-right: 10px;
                        label {
                            color: #737382;
                            margin-bottom: 5px;
                            font-size: 12px;
                        }
                        input {
                            background: none;
                            border: none;
                            color: white;
                            font-weight: 500;
                            font-size: 15px;
                        }
                    }
                    .zip-inpt {
                        display: flex;
                        flex-direction: column;
                        padding: 6px 10px;
                        border: 1px solid #646469;
                        border-radius: 5px;
                        background: #424246;
                        label {
                            color: #737382;
                            margin-bottom: 5px;
                            font-size: 12px;
                        }
                        input {
                            background: none;
                            border: none;
                            color: white;
                            font-weight: 500;
                            font-size: 15px;
                        }
                    }
                }
                .city-state-inpts {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    .city-inpt {
                        display: flex;
                        flex-direction: column;
                        padding: 6px 10px;
                        border: 1px solid #646469;
                        border-radius: 5px;
                        background: #424246;
                        margin-right: 10px;
                        label {
                            color: #737382;
                            margin-bottom: 5px;
                            font-size: 12px;
                        }
                        input {
                            background: none;
                            border: none;
                            color: white;
                            font-weight: 500;
                            font-size: 15px;
                        }
                    }
                    .state-inpt {
                        display: flex;
                        flex-direction: column;
                        padding: 6px 10px;
                        border: 1px solid #646469;
                        border-radius: 5px;
                        background: #424246;
                        label {
                            color: #737382;
                            margin-bottom: 5px;
                            font-size: 12px;
                        }
                        input {
                            background: none;
                            border: none;
                            color: white;
                            font-weight: 500;
                            font-size: 15px;
                        }
                    }
                }
            }
            .last-row {
                display: flex;
                justify-content: flex-end;
                span {}
            }
        }
    }
}