@import "variables";
//reset style
*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    // font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
}

.container1 {
    margin: 0 auto;
    max-width: 1070px;
}

html {
    scroll-behavior: smooth;
}

button,
input,
textarea,
select {
    outline: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.capitalize {
    text-transform: capitalize;
}

//carousal
.carousel-cell.is-selected {
    width: 26%;
    height: 403px;
    margin-right: 20px;
    opacity: 1;
}

.carousel-cell {
    width: 26%;
    height: 403px;
    margin-right: 20px;
    opacity: 0.5;
}

.flickity-prev-next-button {
    svg {
        display: none;
    }
}

.flickity-prev-next-button.previous {
    background-image: url('../img/left-arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.flickity-prev-next-button.next {
    background-image: url('../img/right-arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

// scrollbar
::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #131314;
    width: 0px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #29292b;
    border-radius: 10px;
}