.header {
    display: flex;
    align-items: center;
    padding: 45px 0;
    margin-bottom: 100px;
    position: relative;
    .menu-logo {
        position: absolute;
        img {
            cursor: pointer;
        }
    }
    .brand-logo-wrapper {
        flex: 1;
        display: flex;
        justify-content: center;
        .brand-logo {}
    }
    .options {
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        .nav-item {
            .nav-link {
                cursor: pointer !important;
            }
            .dropdown-menu-new {
                background: #29292B !important;
                &::before {
                    color: #29292B !important;
                }
                .drop-item1 {
                    &:hover {
                        color: #D93638 !important;
                        background: none !important;
                    }
                }
            }
        }
        .right-span {
            display: flex;
            .user-name {
                font-size: 16px;
                font-weight: bold;
                color: black;
                margin-right: 10px;
                text-transform: uppercase;
                cursor: text;
            }
            .logout-p {
                a {
                    font-size: 16px;
                    font-weight: bold;
                    color: white;
                    text-transform: uppercase;
                }
            }
        }
        .cart-logo {
            margin-right: 24px;
            position: relative;
            .orders-notif {
                position: absolute;
                bottom: 10px;
                left: 10px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                padding: 5px;
                background: #D93638;
                color: white;
                font-size: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            img {
                cursor: pointer;
            }
        }
        .cart-logo-home {
            margin-right: 24px;
            position: relative;
            .orders-notif {
                position: absolute;
                bottom: 10px;
                left: 10px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                padding: 5px;
                background: white;
                color: black;
                font-size: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            img {
                cursor: pointer;
            }
        }
        .login-btn {
            margin-right: 24px;
            border: 2px solid #29292B;
            padding: 13px 25px;
            color: white;
            border-radius: 6px;
            font-weight: bold;
            &:hover {
                background-color: #D93638;
                border: 2px solid #D93638;
            }
        }
        .signup-btn {
            border: 2px solid #29292B;
            padding: 13px 25px;
            color: white;
            border-radius: 6px;
            font-weight: bold;
            &:hover {
                background-color: #D93638;
                border: 2px solid #D93638;
            }
        }
    }
}