// colors
$white: #ffffff;
$black: #000000;


//background-colors
$gray1: #111222;
$gray2: rgba(77, 141, 255, 0.15);
$blue1: #3b5998;
$blue2: #0077b5;
$off-white: #fbfbfb;
$off-white1: #eeeeee;

//font-size
$heading1: 22px;
$heading2: 25px;
$heading3: 30px;
$heading4: 36px;
$heading5: 60px;

$para1: 12px;
$para2: 14px;
$para3: 15px;
$para4: 16px;
$para5: 20px;
$para6: 43px;
$para7: 10px;

$btn: 18px;

$input: 19px;

//line-height
$line1: 16px;
$line2: 24px;
$line3: 26px;
$line4: 27px;
$line5: 28px;
$line6: 30px;
$line7: 33px;
$line8: 54px;
$line9: 25px;
$line10: 21px;
$line11: 14px;

//font-weight
$font1: normal;
$font2: 500;
$font3: 600;
$font4: bold;
$font5: 300;
